.filterForm {
  background-color: #5cbd02;
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 50px;
  align-items: center;
  padding: 20px;
}

.infoType {
  display: flex;
  flex-direction: column;
}

.input_label {
  display: block;
}
